<% provide(:title,"About") %>
<div class="center">
	<h1>Admin</h1>

	<%= form_for(:params) do |f| %>
		<%= f.label :subject %>
		<%= f.text_field :subject, class: 'form-control subject' %>

	  <%= f.label :message %>
	  <%= f.text_field :message, class: 'form-control' %>
	  
	  <%= f.submit "Send Email!", class: "btn btn-success", style: "width: 10%" %>
	<% end %>
</div>
